.background-myroom {
  background-color: #87ceeb; /* 하늘색 배경 */
  width: 100%;
  height: 100vh; /* 전체 화면 높이 */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.ground {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: #8b4513; /* 갈색 */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.bed {
  bottom: 100px;
  left: 18%;
  width: 350px;
  height: 100px;
  background-color: #db8f71; /* 분홍색 */
  position: relative;
  border: 2px solid #db8f71; /* 연분홍색 */
  position: absolute;
}

.bed .bed-head {
  width: 70px;
  height: 170px;
  background-color: #db8f71; /* 진한 분홍색 */
  position: absolute;
  left: -22px; /* 헤드가 프레임 밖으로 나오도록 조정 */
  top: -72px; /* 헤드가 프레임 밖으로 나오도록 조정 */
  border: 2px solid #db8f71; /* 진한 분홍색 */
}
.bed .blanket {
  width: 300px;
  height: 40px;
  background-color: #ffc0cb; /* 연핑크색 */
  position: absolute;
  top: -12px;
  left: 50px;
  border: 1px solid #ffb6c1; /* 연핑크색 */
}

.bed .pillow {
  width: 70px;
  height: 30px;
  background-color: #f3ffc0; /* 연핑크색 */
  position: absolute;
  top: -40px;
  left: 50px;
  border: 1px solid #f3ffc0; /* 연핑크색 */
}
.wardrobe {
  position: absolute;
  bottom: 100px;
  left: 3%;
  width: 200px;
  height: 350px;
  background-color: #8b4513; /* 갈색 */
  border: 4px solid #654321; /* 어두운 갈색 */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.wardrobe .door {
  width: 90%;
  height: 45%;
  background-color: #a0522d; /* 황갈색 */
  border: 2px solid #8b4513; /* 어두운 갈색 */
  display: flex; /* Flexbox 사용 */
  justify-content: center; /* Flexbox 사용 */
  align-items: center;
}

.desk {
  position: absolute;
  bottom: 100px;
  left: 38%;
  width: 600px;
  height: 200px;
  background-color: #be865d; /* 연한 갈색 */
  border: 2px solid #be865d; /* 갈색 */
}

.laptop {
  position: absolute;
  bottom: 400px; /* 책상 상판 위에 위치하도록 설정 */
  left: calc(32% + 60px); /* 책상 가운데에 위치하도록 조정 */
  width: 700px;
  height: 200px;
  background-color: #555; /* 노트북 화면 색상 */
  border: 2px solid #333; /* 노트북 경계 색상 */
  display: flex; /* Flexbox 사용 */
  justify-content: center; /* Flexbox 사용 */
  align-items: center; /* Flexbox 사용 */
}

.laptop::before {
  content: "";
  position: absolute;
  bottom: -100px;
  left: 340px;

  width: 30px;
  height: 100px;
  background-color: #333; /* 노트북 본체 색상 */
}

.mailbox {
  position: absolute;
  bottom: 300px; /* ground에서 떨어진 위치 */
  right: 3%;
  width: 150px;
  height: 150px;
  background-color: #ff0000; /* 토마토색 */
  border: 3px solid #b22222; /* 연한 빨간색 */
  display: flex;
  justify-content: center;
  align-items: center;
}

.mailbox .lid {
  width: 50px;
  height: 15px;
  background-color: #b22222; /* 연한 빨간색 */
  position: absolute;
  top: 19px; /* 가운데에 위치하도록 조정 */
}

.mailbox .stand {
  width: 20px;
  height: 200px;
  background-color: #ff0000; /* 갈색 */
  position: absolute;
  bottom: -203px; /* 상판 아래로 위치하도록 설정 */
  left: 50%; /* 가운데 정렬 */
  transform: translateX(-50%); /* 가운데 정렬 */
}

.bookshelf {
  position: absolute;
  bottom: 100px;
  right: 13%;
  width: 200px;
  height: 400px;
  background-color: #8b4513; /* 갈색 */
  border: 4px solid #654321; /* 어두운 갈색 */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.bookshelf .shelf {
  width: 90%;
  height: 20%;
  background-color: #a0522d; /* 황갈색 */
  border: 2px solid #8b4513; /* 어두운 갈색 */
  display: flex;
  justify-content: center; /* 책들이 양옆으로 나열되도록 설정 */
  align-items: center;
}

.book {
  width: 30px;
  height: 90%;
  background-color: #d2691e; /* 초콜릿 색상 */
  border: 1px solid #8b4513; /* 어두운 갈색 */
  margin: 0 2px;
}

.book:nth-child(2n) {
  background-color: #ff6347; /* 토마토 색상 */
}

.book:nth-child(3n) {
  background-color: #4682b4; /* 스틸 블루 색상 */
}

.book:nth-child(4n) {
  background-color: #32cd32; /* 라임 그린 색상 */
}

.book:nth-child(5n) {
  background-color: #ffd700; /* 금색 */
}

.cloud {
  position: absolute;
  top: 50px;
  left: 60%;
  width: 200px;
  height: 200px;
  /* border: 2px solid #b0c4de; 연한 파란색 */
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@keyframes fall {
  0% {
    transform: translateY(-10px);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh);
    opacity: 0;
  }
}
.dust {
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: #ffffe0; /* 연노랑색 */
  border-radius: 50%;
  animation: fall 10s linear infinite;
  opacity: 0;
}

.dust:nth-child(2n) {
  animation-duration: 12s;
}

.dust:nth-child(3n) {
  animation-duration: 8s;
}

.dust:nth-child(4n) {
  animation-duration: 14s;
}
.github-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.username-text {
  margin-bottom: 20px;
}

.github-chart {
  max-width: 100%;
  height: auto;
}
