.item-button {
  background-color: #4caf50;
  color: white;
  padding: 15px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.item-button:hover {
  background-color: #45a049;
}
.plant-image {
  width: 100px; /* 원하는 크기로 조절 */
  height: auto; /* 비율을 유지하면서 높이를 자동 조절 */
}
