/* ProfileModal.css */
.profile-modal {
  width: 300px;
  margin: auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
}

.profile-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-button {
  background: none; /* 배경을 없앰 */
  border: none; /* 테두리를 없앰 */
  padding: 0; /* 패딩을 없앰 */
  cursor: pointer; /* 커서를 포인터로 변경 */
}

.profile-image {
  width: 150px; /* 이미지 크기를 설정 */
  height: 150px; /* 이미지 크기를 설정 */
  display: block; /* 이미지를 블록 요소로 설정 */
}
.left-buttons {
  position: absolute;
  top: 30px;
  left: 30px;
  display: flex;
  gap: 15px;
}
